* {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-main {
    height: 100vh;
    width: 100vw;
}

.div-left {
    display: inline-block;
    width: 60vw;
    margin-top: 25%;
    margin-left: 136px;
}

.div-rigth {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}


img {
    width: 456px;
    height: 562px;
    position: relative;
    top: 25%;
    right: 130px;
}

h1 {
    width: 368px;
    color: #5D5D7D;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
}

p {
    margin: 15px 0;
    width: 540px;
    color: #5D5D7D;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    opacity: 0.6;
}

button {
    width: 269px;
    height: 62px;
    background: #9499EA;
    font-size: 24px;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.4;
}



a {
    margin-left: 41px;
    color: #5D5D7D;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

a:hover {
    opacity: 0.8;
}

.link-work {
    opacity: 0.4;
}


@media screen and (max-width:900px) {
    .div-left {
        width: 100vw;
        height: 50vh;
        margin: 0;
        padding: 0;
    }

    .div-rigth {
        display: block;
        height: auto;
        width: 100vw;
        position: static;
        padding: 40px;
    }

    img {
        position: static;
        max-width: 90%;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 50px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        width: 269px;
        height: 62px;
        display: block;
        margin: 0 auto;
        font-size: 24px;
    }
}